@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&display=swap');
/* Убираем ненужный отступ */
.stream-table { 
  margin-left:0!important;
}
.logo-text {
display: none;    
}

.menu-item-label {
opacity: 0 !important;    
}

.collapsed .menu-item-notifications a {
width: 66px !important;     
}

.gc-account-leftbar .notify-count.with-label{
top: 12px !important;    
}
.no-children td > a div {
display: none;   
}

#xdget316346 > div > div > table > tbody > tr:nth-child(1) > td > div > a > span{
color: #FA99F0;    
}
tr.training-row[data-training-id="934374409"] .stream-title {
  color: #F0461A;
}
tr.training-row[data-training-id="417081198"] .stream-title {
  color: #DDED59;D199FA
}

.redesigned-notice-notice {
display: none !important;    
}

/* Задаем флекс таблице с карточками */
.stream-table tbody {
  display:flex;
  flex-wrap: wrap;
}

/* Настраиваем оболочку карточек */
.stream-table tbody tr {
  position:relative;
  flex:0 0 calc(48% - 0px);
}

/* Адаптируем карточки под разные разрешения */
@media (max-width:1200px) {
  .stream-table tbody tr {
    flex:0 0 calc(50% - 20px);
      
  }
}

@media (max-width:1000px) {
  .stream-table tbody tr {
    flex:0 0 calc(50% - 20px);
  }
}

@media (max-width:850px) {
  .stream-table tbody tr {
    flex:0 0 calc(50% - 20px);
  }
}

@media (max-width:510px) {
  .stream-table tbody tr {
      flex:0 0 100%;

  }
}

/* Настраиваем кликабельность карточек */


/* Настраиваем флекс для содержимого карточек */
.stream-table tbody tr td {
    
  position:relative;
  display:flex;
  height:100%;
  width:100%;
  padding:0!important;
}

.container {
margin-left: 5% !important;
}

body{
background-image: url("https://static.tildacdn.pub/tild6131-6136-4364-b534-376663356261/photo.png") !important;
}

#searchWrapper {
 background: #202121 !important;   
}
/* ===============================
   Основной блок
================================ */
.stream-table tr td:hover{
background: transparent !important;
transform: translateY(-10px);
}
.stream-table tr td{
transition: transform 0.3s ease, box-shadow 0.3s ease !important;
}

/* CSS: стекло с blur, обводка, нестандартная форма */
.glass-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 350px !important;  /* под размер карточки */
  height: 282px !important;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  /* Стекло */
  background: linear-gradient(169.78deg, rgba(105, 126, 125, 0.2) 9.39%, rgba(0, 0, 0, 0.2) 78.17%);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);



  /* Нестандартная форма через SVG mask */
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 397 321" xmlns="http://www.w3.org/2000/svg"><path d="M1.48438 16.327 C1.48438 8.12962 8.12963 1.48438 16.327 1.48438 H164.058 C168.703 1.48438 173.081 3.65924 175.887 7.36134 L193.694 30.856 C196.5 34.5581 200.878 36.7329 205.523 36.7329 H379.971 C388.168 36.7329 394.813 43.3782 394.813 51.5755 V304.642 C394.813 312.839 388.168 319.484 379.971 319.484 H16.327 C8.12962 319.484 1.48438 312.839 1.48438 304.642 V16.327 Z" fill="rgb(0,0,0)"/></svg>');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 397 321" xmlns="http://www.w3.org/2000/svg"><path d="M1.48438 16.327 C1.48438 8.12962 8.12963 1.48438 16.327 1.48438 H164.058 C168.703 1.48438 173.081 3.65924 175.887 7.36134 L193.694 30.856 C196.5 34.5581 200.878 36.7329 205.523 36.7329 H379.971 C388.168 36.7329 394.813 43.3782 394.813 51.5755 V304.642 C394.813 312.839 388.168 319.484 379.971 319.484 H16.327 C8.12962 319.484 1.48438 312.839 1.48438 304.642 V16.327 Z" fill="rgb(10,10,10)"/></svg>');
  mask-repeat: no-repeat;
  mask-size: cover;

  

  z-index: 5;
}

.glass-card::before {
  content: '';
  position: absolute;
  inset: 0;

  background-image: url('https://static.tildacdn.pub/tild6237-6265-4561-a364-663461656363/Vector.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;

  pointer-events: none;
  z-index: 600 !important;
}

.training-row td a {
    width: 100%;
    max-width: 400px !important;  /* под размер карточки */
    height: 321px !important;     /* под размер Figma */  
}
.glass-card a {
  text-decoration: none;
  color: white;
}

.glass-card .stream-title {
position: relative !important;
top: 20%;
font-style: normal;
font-weight: 800;
font-size: 26px;
line-height: 20px;
color: #FFF;
text-shadow: 0px 0px 24px #000000;
}

.glass-card .subtitle {
position: relative !important;
top: 20%;  
color: #ffffff;
font-weight: 600;
font-size: 15px;
z-index: 9999999 !important;
text-shadow: 0px 0px 24px #000000;
}

td > a .stream-title {
display: none;    
}
td > a .stream-title {
display: none;    
}
table > tbody > tr.training-row.no-public.no-children > td > a > div{
display: none;    
}

.has-children td > a div {
display: none;    
}


.page-header h1 {
    font-family: 'Felidae';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    color: #ffffff;
    max-width: 80%;
}
/* ===============================
   Баннер
================================ */

.custom-banner {
margin-top: 30px ;    
}
.logo-link img {
display: none !important;    
}

.breadcrumbs a {    
font-family: 'Futura PT';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #ffffff;
}
.breadcrumbs a:hover  {
text-decoration: none !important;   
}
.breadcrumbs a:after{ /* Стрелка слева для мини меню возврата назад "< тренинги" */
content: "";
display: inline-block; /* Позволяет задать размеры для псевдоэлемента */
width: 15px; /* Ширина изображения */
height: 15px; /* Высота изображения */
mask: url('https://static.tildacdn.com/tild3236-3233-4137-b865-626135396466/Arrow_10.svg') no-repeat center;
background-color: #FFFFFF; /* Тот самый "цвет" SVG */
background-size: contain; /* Масштабирует изображение, чтобы оно полностью помещалось в элемент */
margin-left: 5px; /* Отступ слева от псевдоэлемента */
transform: scale(1.4) rotate(180deg);
position: relative;
top: 3px;
transition: transform 0.5s ease;
}
.breadcrumbs a:hover:after{ /* Стрелка слева для мини меню возврата назад "< тренинги" */
content: "";
display: inline-block; /* Позволяет задать размеры для псевдоэлемента */
width: 15px; /* Ширина изображения */
height: 15px; /* Высота изображения */
mask: url('https://static.tildacdn.com/tild3236-3233-4137-b865-626135396466/Arrow_10.svg') no-repeat center;
background-color: #FFFFFF; /* Тот самый "цвет" SVG */
background-size: contain; /* Масштабирует изображение, чтобы оно полностью помещалось в элемент */
margin-left: 5px; /* Отступ слева от псевдоэлемента */
transform: scale(1.4) rotate(180deg) translateX(-5px);
position: relative;
top: 3px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

@font-face {
  font-family: 'Futura PT';
  src: url('/fileservice/file/download/h/a75ef6f63d8afd90ebffa23820db3313.woff/a/156488/sc/336') format('woff');
  font-weight: 400; /* Book */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/fileservice/file/download/h/eb44d4b8579036d6ce58bd0690152396.woff/a/156488/sc/61') format('woff');
  font-weight: 600; /* Demi */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/fileservice/file/download/h/dcab20e18ad5d2c464f60a6482d6c29e.woff/a/156488/sc/281') format('woff');
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}


:root {
  --bg-gradient-start: #060225;
  --bg-gradient-end: #060225;
  --card-bg: #1b1b1b;
  --card-border-gradient-start: #FFFFFF;
  --card-border-gradient-end: #2A2544;
  --text-white: #FFFFFF;
  --menu-active-gradient: #F0461A;
}
.calendar-choice-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
}

.calendar-choice-popup {
  background: white;
  border-radius: 8px;
  padding: 20px;
  width: 280px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.calendar-choice-title {
  font-weight: 600;
  margin-bottom: 15px;
}

.calendar-choice-btn {
  display: block;
  width: 100%;
  padding: 10px 0;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

.google-btn {
  background-color: #4285F4;
}

.apple-btn {
  background-color: #000000;
}

.calendar-choice-close {
 background: #555 !important;
  width: 60%;
  padding: 5px 0;
  margin-top: 25px !important;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  color: white;
}



.xdget-row .xdget-container:not(.editable).empty{
display: block !important;
}
.calendar-btn {
margin-bottom: 30px;    
}

.xdget-lessonSchedule h3::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  width: 20px;
  height: 12px;
  background-image: url('https://static.tildacdn.info/tild3965-6339-4639-b865-336533623038/Vector_44.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.3s ease;
}
.xdget-lessonSchedule h3.open::after {
  transform: translateY(-50%) rotate(180deg);
}

.header-trainigs img {
display: none;    
}

.xdget-lessonSchedule .closed{
border-radius: 15px 15px 15px 15px !important;
}

.xdget-lessonSchedule .open{
border-radius: 15px 15px 0 0 !important;    
}

.schedule-block .day-label {
color: #ffffff;    
}

.schedule-block .time {
color: #ffffff;     
}

.xdget-lessonSchedule h3 {
font-family: 'Futura PT', sans-serif;
font-style: normal;
font-weight: 500;
color: #ffffff;
padding: 30px 0px 30px 15px;
box-shadow: 0px -6px 21.4px rgba(0, 0, 0, 0.05);
position: relative;
padding-right: 14px; /* место под стрелку */
cursor: pointer;
background: 
linear-gradient(var(--card-bg), var(--card-bg)) padding-box;
border-width: 1px 1px 0px 1px;
border-style: solid;
border-color: #FFFFFF;
}

.schedule-block { 
    position: relative; 
    top: -10px; 
    border-radius: 0px 0px 15px 15px; 
    transition: all 0.5s; 
    background: linear-gradient(var(--card-bg), var(--card-bg)) padding-box, linear-gradient(180deg, #ffffff 0%, #2A2544 100%); 
    border: 1px solid transparent !important;
    border-width: 0px 1px 0px 1px !important;
}



.bg-block {
padding-top: 0;
padding-bottom: 0;
}    
.calendar-btn {
background: #F0461A !important;
font-style: normal;
font-weight: 600;
font-size: 13px;
text-align: center;
color: #FFFFFF;
padding: 10px 20px !important;
transition: transform 0.4s ease;
}
.calendar-btn:hover {
transform: translateY(-5px);
}
.schedule-block .day-label {
margin-left: 18px;    
}



.schedule-block .event a {
color: #ffffff;
font-size: 16px;
}

.schedule-block .event {
font-family: 'Montserrat';
font-style: normal;
font-weight: 550;
font-size: 13px;
color: #d3d2d2;    
}

