@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
  --bg-last-lesson-main: linear-gradient(var(--card-bg), var(--card-bg)) padding-box, linear-gradient(180deg, #ffffff 0%, #2A2544 100%);  /*ТУТ ФОН ПОСЛЕДНЕГО УРОКА*/
  --color-last-lesson-titel: #717171 !important /*ТУТ ЦВЕТ ЗАГОЛОВКА "вы остановились на уроке:" ПОСЛЕДНЕГО УРОКА*/;
  --color-last-lesson-name: #fff !important /*ТУТ ЦВЕТ ГЛАВНОГО ТЕКСТА "НАЗВАНИЕ УРОКА" ПОСЛЕДНЕГО УРОКА*/;
  --bg-last-lesson-button: /*ТУТ ФОН КНОПКИ ПОСЛЕДНЕГО УРОКА*/;
  --bg-last-lesson-button-hover: /*ТУТ ФОН КНОПКИ ПОСЛЕДНЕГО УРОКА ПРИ НАВЕДЕНИИ*/;
  --color-last-lesson-button: #fff !important/*ТУТ ЦВЕТ ТЕКСТА КНОПКИ "перейти" ПОСЛЕДНЕГО УРОКА*/;
}

.lesson-btn {
padding-left: 0px !important;
color: #fff !important;   
}

.col-md-4{
padding-left: 0px !important;
}

.lastLessonBlock {
border-radius: 15px !important;
padding-top: 10px !important;    
background: var(--bg-last-lesson-main);
}
.lastLessonBlock .lesson-title {
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 15px;
color: var(--color-last-lesson-titel);
/* identical to box height, or 115% */    
}

.lastLessonBlock .lesson-name {
margin-top: 10px;
font-family: 'Futura PT';
font-style: normal;
font-weight: 450;
font-size: 24px;
line-height: 24px;
color: var(--color-last-lesson-name);
margin-bottom: 20px;
}

.lastLessonBlock .lesson-btn {
padding: 10px 20px 10px 20px;
background: var(--bg-last-lesson-button);
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 15px;
border-radius: 5px;
color: --color-last-lesson-button;
transition: background 0.2s ease !important;
}

.lastLessonBlock .lesson-btn:hover{
background:  var(--bg-last-lesson-button-hover);
text-decoration: none;
}

.lesson-btn:after {
    content: "";
    display: inline-block;
    width: 54px;
    height: 13px;
    mask: url(https://static.tildacdn.pub/tild3539-3865-4466-a262-346466333732/Arrow_16.svg) no-repeat center;
    background-color: #FFFFFF;
    background-size: contain;
    margin-left: 5px;
    transform: scale(0.7); 
    position: relative;
    top: 3px;
    transition: transform 0.5s ease;
}

.lesson-btn:hover:after {
  transform: scale(0.7) translateX(15px);
}
