@font-face {
  font-family: 'Futura PT';
  src: url('/fileservice/file/download/h/a75ef6f63d8afd90ebffa23820db3313.woff/a/156488/sc/336') format('woff');
  font-weight: 400; /* Book */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/fileservice/file/download/h/eb44d4b8579036d6ce58bd0690152396.woff/a/156488/sc/61') format('woff');
  font-weight: 600; /* Demi */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/fileservice/file/download/h/dcab20e18ad5d2c464f60a6482d6c29e.woff/a/156488/sc/281') format('woff');
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}


.confirm-email-popup-form {
color: #000 !important;
}
.gc-account-user-menu .menu-item.new-chatium-icon{
display: none !important;
}
@media screen and (min-width: 768px) {
#searchContainer{
box-shadow: 0px 0px 46px rgba(0, 0, 0, 0.1);
}
#searchWrapper {
  background-image: url("data:image/svg+xml,%3Csvg width='1618' height='158' viewBox='0 0 1618 158' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M98.5 1C131.5 33.5 243.3 93.4 426.5 73C655.5 47.5 939.5 -56 1228 73C1458.8 176.2 1583.5 130.333 1617 94.5' stroke='%23D5BAAF'/%3E%3Cpath d='M0.5 53.4992C40.3333 39.3326 92 49.4966 155.5 98.9992C258.058 178.95 387.333 158 485.5 143.5' stroke='%23D5BAAF'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
.gc-account-leftbar .notify-count {
background: #ffffff !important;    
}

.gc-account-user-submenu-bar {
  visibility: hidden; /* Скрываем весь блок */
  position: relative;
}

.custom-submenu li:hover {
    background: rgb(0 0 0 / 20%) !important;
}

.custom-submenu .subitem-link:hover {
    background: rgb(255 255 255 / 0%) !important;
}    

.gc-account-user-submenu-bar-notifications_button_small,
.gc-account-user-submenu-bar-profile {
  visibility: visible; /* Отображаем нужные элементы */
  position: absolute; /* Важно: нужно вытащить их из скрытого потока */
  top: 0; /* Подстрой по необходимости */
  left: 0; /* Подстрой по необходимости */
}
}

.zk_left_menu {
opacity: 0 !important;
z-index: -1 !important;
}
.zk_log {
position: absolute !important;
top: -67px !important;
}

@media screen and (max-width: 768px) {
.menu-item{
width: 90% !important;
}
.zk_log {
display: none !important; 
}
.menu-item.collapse-toggle{
display: none !important;    
    }
.gc-account-user-menu{
margin-bottom: 0px !important;
height: 100vh !important;
    }
    .gc-account-user-submenu-bar-notifications_button_small{
z-index: 999999 !important;    
    }
    .gc-account-user-submenu-bar-profile{
z-index: 999999 !important;    
    }
}
@media screen and (max-width: 768px) {
.gc-account-user-menu .menu-item {
width: 90vw
}

.menu-item.collapse-toggle{
display: none !important;    
}
}

.menu-item-icon {
transform: scale(0.9);
margin-top: 15px !important;
}

.menu-item-profile .menu-item-icon {
opacity: 1 !important; 
transform: scale(2) !important;
position: relative;
top: 8px !important;
left: 4px;
transform: scale(1.4);
margin-left: 15px;
}

.gc-account-user-menu .menu-item .notify-count {
margin-top: 12px;    
}
.custom-submenu .notify-count {
margin-top: -2px !important;     
}

.menu-item .menu-item-icon {
  opacity: 0;
  width: 24px !important; /* Сохраняем место для иконки */
  height: 24px !important;
  margin-right: 8px !important; /* Если был отступ */
}
.gc-account-user-menu .menu-item{
left: 5px;
}

.gc-account-leftbar.collapsed .menu-item-notifications_button_small::before{
left:20px;
top: 31px;
transition: all 0.3s ease;
}
.gc-account-leftbar.collapsed .menu-item a[title]::before {
left:20px;
top: 31px;
transition: all 0.3s ease;
}
.menu-item a[title]::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 10px;
    top: 31px;
    transform: translateY(-50%);
    z-index: 99999 !important;
    transition: all 0.3s ease;
}
@media screen and (min-width: 768px) {
.gc-account-user-menu{
height: 97vh !important;
}
}
.menu-item a[title="Свернуть меню"]::before{
left: 17px;
top: 33px;
margin-right: 0px ;
}

.gc-account-leftbar.collapsed .menu-item a[title="Свернуть меню"]::before{
transform: rotate(180deg);
left: 20px;
top: 20px;
}

/* Индивидуальные иконки для каждого пункта */
.menu-item a[title="Обучение"]::before {
  background-image: url('https://static.tildacdn.info/tild3337-6135-4162-b266-656230363437/teach-icon-2.svg');
}
.menu-item a[title="Свернуть меню"]::before {
  background-image: url('https://static.tildacdn.info/tild6336-6663-4766-b966-633836373234/2arrow.svg');
}
.menu-item a[title="Apps"]::before {
  background-image: url('https://static.tildacdn.info/tild3164-6236-4964-a434-623930323438/chatium-icon-1_3.svg');
}
.menu-item a[title="Сообщения"]::before {
  background-image: url('https://static.tildacdn.info/tild6231-6266-4536-b463-656434353338/notifications-icon-1.svg');
}

.menu-item a[title="Сайт"]::before {
  background-image: url('https://static.tildacdn.info/tild6535-6165-4563-a339-393230323731/site-icon.svg');
}

.menu-item a[title="Ученики"]::before {
  background-image: url('https://static.tildacdn.info/tild3062-6637-4237-b563-626534656534/member-icon.svg');
}

.menu-item a[title="CRM"]::before {
  background-image: url('https://static.tildacdn.info/tild3135-3635-4265-a163-306331313363/CRM-icob.svg');
}

.menu-item a[title="Продажи"]::before {
  background-image: url('https://static.tildacdn.info/tild6564-3737-4261-a632-383331623162/sale-icon.svg');
}

.menu-item a[title="Служба заботы"]::before {
  background-image: url('https://static.tildacdn.info/tild6339-6665-4831-b434-323734326135/paperplane-icon_3.svg');
}
.menu-item a[title="Служба поддержки"]::before {
  background-image: url('https://static.tildacdn.com/tild3933-3231-4535-b633-396432623033/notifications-icon-1.svg');
}

.menu-item a[title="Покупки"]::before {
  background-image: url('https://static.tildacdn.info/tild6564-3737-4261-a632-383331623162/sale-icon.svg');
}
.menu-item a[title="Mobile"]::before {
  background-image: url('https://static.tildacdn.info/tild3164-6236-4964-a434-623930323438/chatium-icon-1_3.svg');
}
.menu-item a[title="Chatium"]::before {
  background-image: url('https://static.tildacdn.info/tild3164-6236-4964-a434-623930323438/chatium-icon-1_3.svg');
}


.gc-account-leftbar.collapsed .menu-item-notifications_button_small::after{
display: none;    
}
.menu-item-notifications_button_small::after {
    content: "Уведомления";
    margin-left: 8px;
    font-size: 14px;
    color: #FFFFFF;
    vertical-align: middle !important;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    position: absolute;
    left: 40px !important;
}
.menu-item-notifications_button_small::before{
content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 8px;
  top: 31px;;
  transform: translateY(-50%);
  z-index: 99999 !important;
  background-image: url('https://static.tildacdn.info/tild3335-3139-4135-b733-613833313663/notifications_button.svg');
  transition: all 0.3s ease; 
}


.gc-account-leftbar.collapsed .menu-item a[title]::after{
display: none !important;    
}
.gc-account-leftbar .gc-account-user-menu li.menu-item-notifications_button_small a{
height: 66px !important;
}
/* === ОБЩИЙ СТИЛЬ БОКОВОГО МЕНЮ === */
.gc-account-leftbar {
    width: 240px;
    background: transparent;
    padding: 15px 0;
    transition: width 0.3s ease;
}

/* === СВЕРНУТОЕ МЕНЮ === */
.gc-account-leftbar.collapsed {
    width: 85px !important;
    left: 5px;
}

/* === ЭЛЕМЕНТ МЕНЮ === */
.gc-account-user-menu .menu-item {
    width: 240px;
    height: 66px;
    background: linear-gradient(107.81deg, #2F216C -29.24%, #5F3ECF 25.35%, #5F3ECF 52.98%, #2F216C 107.57%) !important;
    box-shadow: 0px 0px 98px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    margin: 10px auto;
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.3s ease;
    padding: 0 15px;
    box-sizing: border-box;
}

/* === СВЕРНУТОЕ МЕНЮ: СЖАТИЕ ПУНКТОВ === */
.gc-account-leftbar.collapsed .gc-account-user-menu .menu-item {
    width: 66px;
    justify-content: center;
    padding: 0;
}

/* === ИКОНКИ МЕНЮ === */
.gc-account-user-menu .menu-item .menu-item-icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

/* === УВЕДОМЛЕНИЯ === */
.gc-account-user-menu .menu-item .notify-count {
    background-color: #ff3b30;
    color: #5538BA;
    font-size: 12px;
    font-weight: bold;
    min-width: 20px;
    padding: 2px 6px;
    border-radius: 12px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

/* === СВЕРНУТОЕ МЕНЮ: СКРЫТИЕ УВЕДОМЛЕНИЙ === */
.gc-account-leftbar.collapsed .gc-account-user-menu .menu-item .notify-count {
    display: none !important;
}

/* === КНОПКА СВЕРНУТЬ/РАЗВЕРНУТЬ МЕНЮ === */
.gc-account-user-menu .collapse-toggle {
    cursor: pointer;
    background-color: linear-gradient(107.81deg, #2F216C -29.24%, #5F3ECF 25.35%, #5F3ECF 52.98%, #2F216C 107.57%);
    justify-content: center;
}

.gc-account-user-menu .collapse-toggle:hover {
    background-color: linear-gradient(107.81deg, #2F216C -29.24%, #5F3ECF 25.35%, #5F3ECF 52.98%, #2F216C 107.57%);
}

/* === АКТИВНЫЙ ПУНКТ МЕНЮ === */
.gc-account-user-menu .menu-item.active {
    background-color: linear-gradient(107.81deg, #2F216C -29.24%, #5F3ECF 25.35%, #5F3ECF 52.98%, #2F216C 107.57%) !important;
    box-shadow: inset 0 0 0 2px #0066cc;
}


/* CSS для подменю*/ /*=============================================================*/
@media screen and (min-width: 768px) {
.gc-account-leftbar .gc-account-user-menu{
margin-top: 10px !important;
    }

.gc-account-user-submenu-bar-profile {
width: 270px !important;
left: 240px !important;
height: auto !important;
border-radius: 0px 15px 15px 15px;
padding-bottom: 0px !important;
}
.gc-user-user {
margin-left: 330px !important;
}
.gc-account-user-submenu-bar-notifications_button_small {
left: 240px !important; 
height: auto !important;
border-radius: 0px 15px 15px 15px;
padding-bottom: 0px !important;   
}

.close-button {
margin-top: 5px;
width: 15px;
}
.gc-account-user-submenu-bar-notifications_button_small .close-button img {
margin-left: 65px;      
}
}
@media screen and (max-width: 768px) {
.container{
margin-top: 50px;
   }

#searchContainer {
 width: 88vw;
 position: absolute;
 margin-top: 5px;
 margin-right: 10px;
}
#searchIconContainer {
left: auto;
right: 0;
position: absolute !important;
box-shadow: 0px 4px 10.5px rgba(0, 0, 0, 0.08);
}
#searchInputContainer {
margin-right: 10px;
box-shadow: 0px 4px 10.5px rgba(0, 0, 0, 0.08);
}
.gc-account-leftbar:not(.expanded) {
height: 50px !important;    
}
.toggle-link img {
width: 40px;     
}
.gc-account-leftbar .gc-account-user-menu{
    top: 0;
    position: absolute;
}

.toggler-item {
display: none !important;    
}
.gc-account-leftbar .toggle-link{
background: transparent;    
width: 100vw !important;
top:0;
right: 0;
}
.toggle-link img{
position: absolute;
margin-top: 5px;
margin-right: 5px;
top:0;
right: 0;
}
.gc-account-leftbar{
top: 0;
right: 0;
}
.gc-account-user-submenu-bar-profile {
z-index: 9999;
width: 100vw !important;
height: 100vh !important;
padding-bottom: 0px !important;
left: 0px !important;
border-radius: 0;
}
.close-button {
margin-left: 94vw;
margin-top: 5px;
width: 15px;
}
.gc-account-user-submenu-bar-notifications_button_small {
z-index: 9999;
width: 100vw !important;
height: 100vh !important;
padding-bottom: 0px !important;
left: 0px !important;
border-radius: 0;
}
.gc-account-leftbar a{
width: 90vw !important;
padding-left: 5vw !important; 
padding-right:   
}
.gc-account-leftbar .gc-account-user-menu{
width: 100vw;
background: #100A2A !important;
padding-left: 5vw !important;
padding-top: 60px;
}
.menu-item a[title]::after{
width: 270px !important;
text-align: left !important;
margin-left: 20px !important;
}
.menu-item-profile .menu-item-icon {
position: absolute;
top: 10px ;
left: 8px !important;   
}
.gc-account-leftbar .notify-count {
left: 260px;
top: 10px;
}
.custom-submenu .menu-item-chatium_qr .subitem-link{
width: 100% !important;
height: 100% !important;    
}
}
/* для пк */
@media screen and (min-width: 768px) {
.container {
  padding-left: 0px;  
}
.gc-main-content{
margin-left: 260px !important;    
}
}
/* общий */
.close-button img{ 
cursor: pointer !important;
transform: scale(0.8);
}
.close-button img:hover {
  content: url('https://static.tildacdn.com/tild3064-3863-4062-b136-363939303365/close_hover.svg');
  transform: scale(0.9); /* Увеличиваем изображение при наведении */
}
.gc-account-user-submenu-bar h3{
margin-top: 0px;
}
.css-editor-modal .modal-dialog{
width: 60% !important;
}
.gc-account-user-submenu-bar-chatium {
 display: none !important;   
}
.gc-account-user-submenu-bar-teach {
 display: none !important;   
}   

.custom-submenu .menu-item-chatium_qr .subitem-link {
 height: 160px !important; 
 color: transparent !important; 
}
.menu-item {
margin-bottom: 10px !important;    
}

.gc-fade-wrapper .gc-fade {
display: none;
}
.menu-item-icon {
    transform: scale(0.6);    
}
/*______________________________________*/
/*Настройки стиля "профиля"*/
.gc-account-leftbar .gc-account-user-menu li.menu-item-profile a {
 height: 70px !important;    
}
.menu-item-profile a[title]::after{
 margin-top: 30px !important;
 margin-left: 30px !important;
}
.menu-item-profile .menu-item-icon {
border-radius: 1000px;    
}
/*______________________________________*/
/*основа меню*/
/.gc-account-leftbar .gc-account-user-menu li a:hover{
/background: linear-gradient(107.81deg, #2F216C -29.24%, #5F3ECF 25.35%, #5F3ECF 52.98%, #2F216C 107.57%);
box-shadow: inset -4px 0px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 4px 0px 4px rgba(0, 0, 0, 0.25);
}

.subitem-link:hover {
background: #ffffff !important;
}

[class^="menu-item-"] {
  
}

.gc-account-leftbar .gc-account-user-menu li a{
  background: linear-gradient(107.81deg, #2F216C -29.24%, #5F3ECF 25.35%, #5F3ECF 52.98%, #2F216C 107.57%);
  width: 240px;
  border-radius: 10px;
  height: 66px;
  display: flex !important;
  align-items: flex-start;
}
.select > a {
background: linear-gradient(107.81deg, #2F216C -29.24%, #5F3ECF 25.35%, #5F3ECF 52.98%, #2F216C 107.57%) !important;      
}
.menu-item.active > a {
background: linear-gradient(107.81deg, #2F216C -29.24%, #5F3ECF 25.35%, #5F3ECF 52.98%, #2F216C 107.57%) !important;      
}
.custom-submenu .subitem-link {
background: transparent !important; 
color: #FFF !important;
}
.selected > a {
background: linear-gradient(107.81deg, #2F216C -29.24%, #5F3ECF 25.35%, #5F3ECF 52.98%, #2F216C 107.57%) !important;      
}    

.menu-item a[title]::after {
    content: attr(title); /* Берем текст из атрибута title */
    margin-left: 8px; /* Отступ от иконки */
    font-size: 14px; /* Размер текста */
    color: #ffffff; /* Цвет текста */
    vertical-align: middle !important; /* Вертикальное выравнивание */
    font-family: 'Manrope', sans-serif; /* Применяем шрифт Manrope */
    font-weight: 600; /* Жирный стиль */ 
    margin-top: 26px;
    position: absolute;
    left: 40px !important;
}
.menu-item a {
    display: block; /* Используем flexbox */
    align-items: center; /* Вертикальное выравнивание */
}
.notify-count {
  width: auto !important;
  padding: 3px 7px !important;  
}
/*______________________________________*/
/*отключение стандартного подменю*/
.fz-left-menu-teach {
display: none !important;    
}
.fz-left-menu-cms {
display: none !important;    
}
.fz-left-menu-user {
display: none !important;     
}
.fz-left-menu-tasks {
display: none !important;    
}
.fz-left-menu-notifications {
display: none !important;    
}
.fz-left-menu-sales {
display: none !important;
}
.fz-left-menu-chatium {
display: none !important;    
}
.menu-item-notifications_button_small .menu-item-icon {
display: block !important;   
}
/*______________________________________*/
.custom-submenu-bar {
    max-height: 0; /* Начальная высота подменю */
    opacity: 0;    /* Подменю не видно */
    overflow: hidden;
    transition: max-height 0.7s ease, opacity 0.7s ease; /* Плавное изменение высоты и прозрачности */
    background: none !important; /* Убираем фон */
    box-shadow: none; /* Убираем тень */
    margin-top: 0; /* Минимизируем отступ */
    padding: 0; /* Убираем внутренние отступы */
    position: absolute;
}
.custom-submenu-bar.open {
    max-height: 700px; /* Устанавливаем максимальную высоту, которая будет видимой */
    opacity: 1;        /* Подменю делаем видимым */
}
.select a {
    display: block;
    transition: height 0.7s ease; /* Плавный переход высоты */
}
/* Стили для элементов подменю */
.custom-submenu {
    list-style: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
    margin: 0; /* Убираем отступы */
    margin-top: 30px;
    width: 180px;
    padding-top: 10px;
    margin-left: 40px !important;   
}
/*______________________________________*/
.custom-submenu li {
    margin: 0; /* Убираем отступы */
    border-radius: 5px;
}
.custom-submenu li:hover {
background: linear-gradient(107.81deg, #2F216C -29.24%, #5F3ECF 25.35%, #5F3ECF 52.98%, #2F216C 107.57%) !important;
}
.custom-submenu a {
    font-size: 12px; /* Уменьшаем размер текста */
    color: #333 !important; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    background: none !important; /* Убираем фон */
    display: inline; /* Отображаем как текст */
    padding: 5px; /* Убираем внутренние отступы */
    height: 20px !important;
    width: auto !important;
    box-shadow: none !important;
    white-space: nowrap;
    margin-top: 5px;
    font-family: 'Manrope', sans-serif !important; /* Применяем шрифт Manrope */ 
    
}
.custom-submenu-bar {
 top: -10px;  
}
.custom-submenu-bar h3 {
display: none;
}
/* Цвет при наведении */
.select > a:hover {
background: linear-gradient(107.81deg, #2F216C -29.24%, #5F3ECF 25.35%, #5F3ECF 52.98%, #2F216C 107.57%) !important;   
}
/* Настройка уведомлений */
.select > a > .notify-count {
 opacity: 0   
}
.notify-count {
 position: relative !important;
 top: 10px;
 
}
.custom-submenu .notify-count {
 position: relative !important;
 top: -1px;
}
.custom-submenu .menu-item-answers .notify-count {
 bottom: 3px;  
}
.custom-submenu .menu-item-inbox .notify-count {
 bottom: 3px;    
}
/*=============================================================================================*/
@media screen and (min-width: 768px) {
.gc-user-admin .logo-link img{
position: relative;  
top: -10px; 
border-radius: 10px;
}
.gc-user-user .logo-link img {
position: absolute;  
top: -60px; 
border-radius: 10px;
}
.annotate-block {
position: absolute;
left: auto;
right: 40px;
top: 10px;
border-radius: 10px;
background: #fff !important;
}
.close-button {
position: absolute !important;
right: 10px !important; 
left: auto !important;
}
.gc-account-user-submenu-bar-notifications_button_small .close-button {
position: relative !important; 
left: 250px !important;
}
}
