@font-face {
  font-family: 'Futura PT';
  src: url('/fileservice/file/download/h/a75ef6f63d8afd90ebffa23820db3313.woff/a/156488/sc/336') format('woff');
  font-weight: 400; /* Book */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/fileservice/file/download/h/eb44d4b8579036d6ce58bd0690152396.woff/a/156488/sc/61') format('woff');
  font-weight: 600; /* Demi */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/fileservice/file/download/h/dcab20e18ad5d2c464f60a6482d6c29e.woff/a/156488/sc/281') format('woff');
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}


/*===================CSS для поиска===================*/
#searchInputMobile{
color: #000 !important;
}

#searchInput {
color: #060225;  
}
/*===================CSS для поиска===================*/
@media screen and (min-width: 768px) {
#searchWrapper #searchContainer {
margin-top: 0px;    
width: 40% !important;
}

.breadcrumbs #searchContainer {
margin-bottom: 50px !important;   
}

#searchContainer{
box-shadow: 0px 0px 46px rgba(0, 0, 0, 0.1);
}
#searchWrapper {
 background: #202121 !important;   
 background-repeat: no-repeat !important;
 background-size: cover !important;
 background-position: center !important;
 width: calc(100vw - 280px) !important;
 border-radius: 0px 0px 15px 15px;
}
#searchContainer {
left: 20% !important;
}


#searchResults{
margin-top: 5px;
border: none !important;
box-shadow: 0px 5px 8.5px rgba(0, 0, 0, 0.5);
}
#searchResults h2{
margin-top: 15px;
font-size: 14px;
font-weight: 600;
color: #B73817;
margin-left: 10px;
}
.result-item h3{
margin-top: 10px;
font-size: 15px;
font-weight: 600;
color: #333333;   
margin-left: 20px;
}
.result-item p{
font-size: 14px;
font-weight: 500;
color: #A9A9A9;
margin-left: 20px;
}
.result-item a{
padding-left: 15px !important;
padding-right: 15px !important;
padding-bottom: 5px;
padding-top: 5px; 
margin-left: 20px;
background: #F0461A;
border-radius: 5px;
color: #FFFFFF;
}
.result-item img{
display: none;

}
.lesson-item{
margin-bottom: 20px;
}
#searchContainer {
margin-top: 10px;
height: 50px;
width: 60% !important;
border-radius: 10px !important;
left: 10%;
}

#searchWrapper{
background-color: #202121 !important
height: 70px;
top: 0;
bottom: auto;
position: absolute; 
}
}

.logo-link img {
position: relative;  
top: -10px; 
border-radius: 10px;
}
.annotate-block {
position: absolute;
left: auto;
right: 40px;
top: 10px;
border-radius: 10px;
background: #fff !important;
}

@media screen and (max-width: 768px) {

#searchContainerMobile{
top: 0px ;
z-index: 999999 !important;
}
#searchResultsMobile{
z-index: 999999 !important;
}

#searchContainerMobile{
overflow: visible !important;
}
#searchInputMobile{
border-radius: 30px;    
}
#searchResultsMobile{
margin-top: 5px;
border: none !important;
box-shadow: 0px 5px 8.5px rgba(0, 0, 0, 0.5);
width: 90vw !important;
left: -10vw !important;
}
#searchResultsMobile h2{
margin-top: 15px;
font-size: 14px;
font-weight: 600;
color: #B73817;
margin-left: 10px;
}
.result-item h3{
margin-top: 10px;
font-size: 15px;
font-weight: 600;
color: #333333;   
margin-left: 20px;
}
.result-item p{
font-size: 14px;
font-weight: 500;
color: #A9A9A9;
margin-left: 20px;
}
.result-item a{
padding-left: 15px !important;
padding-right: 15px !important;
padding-bottom: 5px;
padding-top: 5px; 
margin-left: 20px;
background: #F0461A !important;
border-radius: 5px;
color: #FFFFFF;
}
.result-item img{
display: none;
}
.lesson-item{
margin-bottom: 20px;
}
#searchContainerMobile{
left: auto;
right: 0;
position: absolute !important;
box-shadow: 0px 4px 10.5px rgba(0, 0, 0, 0.08);
margin-top: 5px;
margin-right: 50px;
flex-direction: row-reverse;
}


.gc-account-leftbar {
width: 100vw !important;
    }
}
.gc-user-admin .logo-link img {
top: -41px !important;
position: relative;
}
.logo-link img {
top: -58px; 
position: absolute;
}
